:root {
  --purple:     #623CEA;
  --dark-berry: #442F38;
  --coral:      #EB8258;
  --sage:       #9 n4C9A9;
  --mint:       #C6ECAE;
}

body {
  background-color: var(--mint);
  color: var(--dark-berry);
  font-family:nixie-one-regular;
   font-weight: 400;
  font-style: normal;
text-align: center;
  padding: 40px;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  background-color: var(--purple);
  padding: 40px;
  border-radius: 12px;
}

h1 {
  font-size: 48px;
  color: white;
  margin-bottom: 0;
}

.tagline {
  color: var(--mint);
  font-style: italic;
  font-size: 18px;
}

h2 {
  color: var(--mint);
  margin-top: 30px;
}

.skills {
  font-size: 20px;
  line-height: 2;
  color: white;
}

button {
  background-color: var(--coral);
  color: white;
  border: none;
  padding: 12px 30px;
  font-size: 16px;
  border-radius: 0%;
}